@{ ViewData["Title"] = "Contact Us"; }
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />
<div>
    <!--Creates simple contact us page-->
    <h1 class="display-4">Contact Us</h1>
    <p>
        You can contact us by calling our mobile phone : (222)-331-8877
    </p>
</div>
<div>
    <!--Hours of operation-->
    <hr />
    <h4>Hours of Operation</h4>
    <p>
        Mon: &nbsp;9:00am - 8:30pm<br />
        Tue: &nbsp;&nbsp;    closed<br />
        Wed: &nbsp;9:00am - 8:30pm<br />
        Thurs: &nbsp;9:00am - 8:30pm<br />
        Fri: &nbsp;9:00am - 8:30pm<br />
    </p>
    <hr />
</div>

<hr />
<div class="text-center">
    <img src="~/images/logo.PNG" width="150">
</div>