@{ ViewData["Title"] = "Home Page"; }

<!--main home page for the website-->
<link href="~/css/site.css" rel="stylesheet" runat="server" type="text/css" />
<div class="text-center">
    <h1 class="display-4">Welcome to NorthVille Gadgets</h1>
    <p>Welcome! We offer the best deals on all gadgets to both new and existing customers. </p>
</div>

<!--Creates a collage of pictures showcasing our salon and clients-->
<div class="row">
    <div class="column">
        <img src="~/images/gadget1.jpeg">
        <img src="~/images/gadget2.jpeg">
        <img src="~/images/gadget3.jpeg">
    </div>
    <div class="column">
        <img src="~/images/gadget4.jpeg">
        <img src="~/images/gadget5.jpg">
        <img src="~/images/gadget6.jpeg">
    </div>
    <div class="column">
        <img src="~/images/gadget7.jpeg">
        <img src="~/images/gadget8.jpeg">
        <img src="~/images/gadget9.jpeg">
    </div>
    <div class="column">
        <img src="~/images/gadget10.jpeg">
        <img src="~/images/gadget11.jpeg">
        <img src="~/images/gadget12.jpeg">
    </div>
</div>
<hr />
<div class="text-center">
    <img src="~/images/logo.PNG" width="150">
</div>